.winners-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.winner-row {
  flex: none;
  min-height: 4em;
  border-radius: 1em;
  background-color: springgreen;
  margin: 10px;
}

.winner-position {
  flex: 1;
}

.winner-title {
  flex: 9;
}